In [88]:
# import the modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import VotingClassifier
import warnings
warnings.filterwarnings('ignore')

### Load the dataset

- Load the train data and using all your knowledge try to explore the different statistical properties of the dataset.

In [89]:
# Code starts here
df=pd.read_csv("train.csv")
df.head()



# Code ends here

,Id,Unnamed: 0,attr0,attr1,attr2,attr3,attr4,attr5,attr6,attr7,...,attr1080,attr1081,attr1082,attr1083,attr1084,attr1085,attr1086,attr1087,attr1088,attr1089
0,2216,2216,-4.374765,13.819856,14.656331,-9.728919,-19.334897,0.344455,11.10572,21.977302,...,89.083581,86.194838,93.162055,100.883355,123.558503,112.831384,100.583377,102.194939,120.306692,0
1,2673,2673,-13.796261,-4.647589,21.676617,-0.122074,11.228644,-8.806895,-9.16119,18.025709,...,100.750899,83.373142,76.902208,72.182997,102.843819,93.118477,80.338570,80.196648,93.995657,0
2,5603,5603,-2.115400,-3.332400,-6.640000,-13.825000,4.123200,27.365000,6.70020,3.783000,...,52.917000,34.799000,42.562000,51.161000,77.139000,73.367000,50.733000,39.949000,60.731000,0
3,6401,6401,-25.531000,66.699000,-13.025000,-31.198000,12.016000,19.365000,5.04510,20.418000,...,49.488000,71.633000,66.757000,69.213000,97.606000,81.416000,53.808000,41.489000,71.825000,0
4,6043,6043,18.993000,-5.620000,-9.964900,3.307200,0.999760,-10.920000,-11.39200,3.918500,...,84.508000,89.976000,61.169000,33.132000,58.043000,54.522000,80.941000,53.000000,80.615000,1

In [90]:
df.isnull().sum()

Id            0
Unnamed: 0    0
attr0         0
attr1         0
attr2         0
             ..
attr1085      0
attr1086      0
attr1087      0
attr1088      0
attr1089      0
Length: 1092, dtype: int64

In [91]:
X=df.drop(['attr1089','Id','Unnamed: 0'],axis=1)
y=df['attr1089']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [92]:
X_train.head()

,attr0,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,...,attr1079,attr1080,attr1081,attr1082,attr1083,attr1084,attr1085,attr1086,attr1087,attr1088
325,3.785500,-5.068600,9.176100,3.621900,-6.037500,10.458000,11.604000,-11.671000,-1.782100,10.326000,...,59.208000,77.216000,81.770000,62.334000,65.850000,84.123000,82.457000,59.617000,62.381000,72.431000
2270,-2.823685,-1.767507,-2.088838,-2.332517,-1.066651,2.185699,2.019799,-5.196458,-3.351829,2.244061,...,15.679640,13.429346,13.254115,14.453883,14.136732,11.394564,12.815959,14.557035,15.888084,12.716704
1115,-14.916533,-7.133579,6.035699,14.062402,2.104360,4.648719,21.655094,6.658183,-1.760342,-7.786421,...,39.314087,42.586433,50.684658,68.441420,71.858860,72.415171,72.690563,55.035573,38.106940,54.595751
1864,-7.869200,-11.420000,-4.119900,6.934200,2.598500,-1.242100,-6.589800,5.918200,18.849000,1.527900,...,18.590000,30.547000,23.885000,28.621000,35.295000,38.146000,30.038000,20.989000,20.221000,24.908000
2784,15.239095,28.304796,11.187012,-31.592014,-19.671278,14.730414,9.204807,-0.279894,5.256727,11.502930,...,74.313287,71.695204,67.325792,74.709337,89.641303,92.837155,91.085124,95.166413,86.711335,103.008423

### Visualize the data

- Check the distribution of the target variable. Is the data imbalanced?
- Clean the data, apply some data preprocessing and engineering techniques.

In [93]:
# Code starts here
y.value_counts()
# Code ends here.

1    3080
0    2812
Name: attr1089, dtype: int64

In [94]:
scaler=MinMaxScaler()
scaler.fit(X_train)
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

### Model building

- Split the data into train and test.
- Now let's come to the actual task, predict the values of `attr1089` after building a Machine learning model.
- Try improving upon the `roc_auc_score` ([ROC-AUC Score](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html#sklearn.metrics.roc_auc_score))

In [95]:
# Code Starts here

y_pred=LogisticRegression().fit(X_train,y_train).predict(X_test)
score=roc_auc_score(y_pred,y_test)
score
# Code ends here

0.8277507281519034

In [96]:

y_pred_1=DecisionTreeClassifier(random_state=0).fit(X_train,y_train).predict(X_test)
score_1=roc_auc_score(y_pred_1,y_test)
score_1

0.8786567031104024

In [97]:
random=RandomForestClassifier(random_state=0)
random.fit(X_train,y_train)
y_pred_2=random.predict(X_test)
score_2=roc_auc_score(y_pred_2,y_test)
score_2

0.9228259688940152

In [98]:
y_pred_3=BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100,max_samples=100,random_state=0).fit(X_train,y_train).predict(X_test)
score_3=roc_auc_score(y_pred_3,y_test)
score_3

0.8368635588247865

In [99]:
C_1=LogisticRegression()
C_2=DecisionTreeClassifier(random_state=0)
C_3=RandomForestClassifier(random_state=0)
model_list=[('logistic',C_1),('Decision',C_2),('Random',C_3)]


y_pred_4=VotingClassifier(estimators=model_list,voting='soft').fit(X_train,y_train).predict(X_test)
score_4=roc_auc_score(y_pred_4,y_test)
score_4

0.900479625627711

### Prediction on the test data and creating the sample submission file.

- Load the test data and store the `Id` column in a separate variable.
- Perform the same operations on the test data that you have performed on the train data.
- Create the submission file as a `csv` file consisting of the `Id` column from the test data and your prediction as the second column.

In [100]:
# Code Starts here
test=pd.read_csv('test.csv')
id=test['Id']
test=test.drop(['Id','Unnamed: 0'],axis=1)
scaler=MinMaxScaler()
scaler.fit(test)
test=scaler.transform(test)
y_pred=random.predict(test)
y_pred


# Code ends here

array([0, 0, 1, ..., 1, 0, 0], dtype=int64)

In [101]:
sample_submission=pd.DataFrame({'Id':id,'attr1089':y_pred})
sample_submission.to_csv('Submission.csv',index=False)