In [162]:
# import the modules
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier

### Load the dataset

- Load the train data and using all your knowledge try to explore the different statistical properties of the dataset.

In [163]:
# Code starts here
df=pd.read_csv("train.csv")
df.head()


# Code ends here

,Id,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1370,7596-IIWYC,Female,0,No,No,27,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),20.25,538.2,No
1,5676,9103-CXVOK,Male,0,Yes,Yes,1,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Electronic check,19.75,19.75,No
2,5800,7129-CAKJW,Female,0,No,No,17,Yes,Yes,Fiber optic,...,Yes,No,No,No,Month-to-month,No,Bank transfer (automatic),80.05,1345.65,No
3,1645,9490-DFPMD,Female,1,No,No,42,Yes,Yes,Fiber optic,...,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.65,3541.35,Yes
4,366,9069-LGEUL,Male,0,Yes,No,23,Yes,No,DSL,...,No,No,No,Yes,Month-to-month,Yes,Bank transfer (automatic),59.95,1406,No

In [164]:
df.shape

(5634, 22)

In [165]:
df.isnull().sum()

Id                  0
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [166]:
X=df.drop(["Id","customerID","Churn"],axis=1)
y=df['Churn']

In [167]:
df.isnull().sum()

Id                  0
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [168]:
X['TotalCharges']=X['TotalCharges'].replace(" ",np.NaN).astype("float")

In [169]:
X['TotalCharges'].fillna(X['TotalCharges'].mean(),inplace=True)

In [170]:
#X['TotalCharges']=pd.to_numeric(X['TotalCharges'], downcast="float")

In [171]:
cat_cols=X.select_dtypes(include='object').columns.tolist()
cat_cols

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod']

In [172]:
for x in cat_cols:
    le=LabelEncoder()
    X[x]=le.fit_transform(X[x])

#X=pd.get_dummies(X, columns=cat_cols).head()

In [173]:
X.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,0,0,0,27,1,0,2,1,1,1,1,1,1,2,1,0,20.25,538.20
1,1,0,1,1,1,1,0,2,1,1,1,1,1,1,0,0,2,19.75,19.75
2,0,0,0,0,17,1,2,1,0,0,2,0,0,0,0,0,0,80.05,1345.65
3,0,1,0,0,42,1,2,1,0,0,0,0,2,0,0,1,2,84.65,3541.35
4,1,0,1,0,23,1,0,0,2,0,0,0,0,2,0,1,0,59.95,1406.00

In [174]:
#X['TotalCharges'].value_counts()

In [175]:
y=y.replace({'No':0,'Yes':1})

In [176]:
X.shape

(5634, 19)

In [177]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

### Visualize the data

- Replace the missing values and modify some column values(as required by you).
- Check out the best plots for plotting between categorical target and continuous features and try making some inferences from these plots.
- Clean the data, apply some data preprocessing and engineering techniques.

In [178]:
# Code starts here

np.any(np.isnan(X))

# Code ends here

False

In [179]:
np.all(np.isfinite(X))

True

### Model building

- Try to predict the churning of customers using AdaBoost
- Try and implement XGBoost for our customer churn problem and see how it performs in comparision to AdaBoost. Use different techniques you have learned to imporove the performance of the model.
- Try improving upon the `accuracy_score` ([Accuracy Score](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html))

In [180]:
# Code Starts here

ada=AdaBoostClassifier(random_state=0)
ada.fit(X_train,y_train)
y_pred=ada.predict(X_test)
score_ada=accuracy_score(y_test,y_pred)
score_ada

# Code ends here

0.7971614429331756

In [181]:
con=confusion_matrix(y_pred,y_test)
con

array([[1083,  186],
       [ 157,  265]], dtype=int64)

In [182]:
classif=classification_report(y_pred,y_test)
classif

'              precision    recall  f1-score   support\n\n           0       0.87      0.85      0.86      1269\n           1       0.59      0.63      0.61       422\n\n    accuracy                           0.80      1691\n   macro avg       0.73      0.74      0.74      1691\nweighted avg       0.80      0.80      0.80      1691\n'

In [183]:
gradient =GradientBoostingClassifier(random_state=0)
gradient.fit(X_train,y_train)
y_pred_g=gradient.predict(X_test)
score_gradient=accuracy_score(y_test,y_pred_g)
score_gradient

0.8001182732111177

In [184]:
from xgboost import XGBClassifier 
Xg =XGBClassifier (random_state=0)
Xg.fit(X_train,y_train)
y_pred_Xg=Xg.predict(X_test)
score_Xg=accuracy_score(y_test,y_pred_Xg)
score_Xg

0.7871082199881727

In [185]:
from sklearn.model_selection import GridSearchCV

#Parameter grid
parameter_grid ={'learning_rate':[0.1,0.15,0.2,0.25,0.3],'max_depth':range(1,3)}
                
Xg =XGBClassifier(random_state=0)
grid_search=GridSearchCV(estimator=Xg,param_grid =parameter_grid)
grid_search.fit(X_train,y_train)
y_pred_grid=grid_search.predict(X_test)
score_grid=accuracy_score(y_test,y_pred_grid)
score_grid

0.8013010053222945

### Prediction on the test data and creating the sample submission file.

- Load the test data and store the `Id` column in a separate variable.
- Perform the same operations on the test data that you have performed on the train data.
- Create the submission file as a `csv` file consisting of the `Id` column from the test data and your prediction as the second column.

In [186]:
# Code Starts here

test=pd.read_csv("test.csv")
id=test['Id'].copy()
test.drop(["Id","customerID"],axis=1,inplace=True)
test['TotalCharges']=test['TotalCharges'].replace(" ",np.NaN).astype("float")
test['TotalCharges'].fillna(test['TotalCharges'].mean(),inplace=True)
for x in cat_cols:
    le=LabelEncoder()
    test[x]=le.fit_transform(test[x])
# Code ends here

In [187]:
test.shape

(1409, 19)

In [188]:
y_pred_1=grid_search.predict(test)

In [189]:
y_pred_1

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [190]:
#y_pred_1=y_pred_1.replace({0:'No',1:'Yes'})

In [192]:
sample_submission = pd.DataFrame({'Id':id,'Churn':y_pred_1})
sample_submission

        Id  Churn
0     4539      0
1     1802      0
2     1380      0
3     5305      0
4     1960      0
...    ...    ...
1404  1416      0
1405  2115      0
1406  1078      0
1407   756      0
1408    58      0

[1409 rows x 2 columns]

In [193]:
sample_submission['Churn'].replace({0:'No',1:'Yes'},inplace=True) 

# Convert the sample submission file into a csv file
sample_submission.to_csv('submission.csv',index=False)